* Importando Numpy e Pandas

In [1]:
import numpy as np
import pandas as pd

* Preparando os dados

In [37]:
tam = 10000
ids = np.arange(1, tam + 1, 1, dtype=int)
idades = np.random.randint(low= 18, high= 126, size= tam, dtype= int)
lista_sexo = np.array(['M', 'F'])
sexo = np.random.choice(lista_sexo, size= tam)
lista_estados_civis = np.array(['solteiro', 'casado', 'divorciado', 'viuvo'])
estados_civis = np.random.choice(lista_estados_civis, size= tam)
sinistros = np.random.randint(low= 0, high= 2, size= tam, dtype= int)
premios = np.around(np.random.random(size=tam) * 10000, 2)

# dicionario = {
#     'ids': ids,
#     'idades': idades,
#     'sexo': sexo,
#     'estados_civis': estados_civis,
#     'sinistros': sinistros,
#     'premios': premios
# }

tab = pd.DataFrame([idades, sexo, estados_civis, sinistros, premios], index = ['idades', 'sexo', 'estados_civis', 'sinistros', 'premios'])
# tab.columns = ['ids', 'idades', 'sexo', 'estados_civis', 'sinistros', 'premios']
tab.columns = ids
tab
# tab.set_index('ids', inplace= True)
# tab
dicionario = tab.to_dict()
dicionario

tab.T

# dados = [
#     {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
#     {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
#     {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
# ]

# dataset = pd.DataFrame(dados)
# dado = dataset.to_dict('list')
# dado

      idades sexo estados_civis sinistros  premios
1         36    M      solteiro         1  1538.89
2         95    F        casado         0  5655.97
3         45    F    divorciado         1  8290.44
4        124    F         viuvo         0  8468.84
5         29    M      solteiro         1  3022.58
...      ...  ...           ...       ...      ...
9996      39    M      solteiro         1   245.06
9997      40    M         viuvo         1  2142.19
9998      73    M        casado         0  7629.26
9999     107    F         viuvo         1  1736.18
10000     49    F        casado         1  9768.75

[10000 rows x 5 columns]

* Visualização do DataFrame

In [34]:
tab.head()

,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
idades,95,105,36,42,62,95,54,88,100,32,...,25,101,25,104,93,63,65,87,20,102
sexo,F,M,M,M,M,M,M,M,M,F,...,F,M,M,M,F,F,M,M,F,F
estados_civis,solteiro,solteiro,viuvo,divorciado,solteiro,divorciado,casado,casado,casado,casado,...,solteiro,solteiro,divorciado,casado,viuvo,divorciado,viuvo,divorciado,viuvo,viuvo
sinistros,1,1,0,1,1,0,0,0,0,1,...,0,0,0,0,1,0,1,0,1,0
premios,4798.18,3506.91,7554.66,2997.09,8347.01,448.74,4495.66,1756.04,121.76,9504.18,...,4414.14,5679.79,4269.33,2404.09,3961.21,2944.03,1895.22,7763.87,8854.04,5831.69

* Filtrando clientes com idades maiores do que 30

In [35]:
# tab[tab.idades > 30]
# tab[tab['idades'] > 30]
tab.query('idades > 30')

UndefinedVariableError: name 'idades' is not defined

* Filtrando clientes sem sinistros

In [ ]:
tab.query('sinistros == 0')

           ids idades sexo estados_civis sinistros  premios
0            1    111    M         viuvo         0   3218.6
1            2     67    F    divorciado         0  9305.14
4            5     43    M    divorciado         0  1027.89
7            8     18    M        casado         0  8975.05
9           10     40    F         viuvo         0  4543.73
...        ...    ...  ...           ...       ...      ...
999991  999992     69    M      solteiro         0  8697.81
999993  999994     29    F        casado         0  9836.04
999994  999995    121    M    divorciado         0  4776.39
999995  999996     76    F    divorciado         0  3828.75
999998  999999     64    M         viuvo         0   8952.5

[499174 rows x 6 columns]

* Exibir Idade e Prêmio

In [ ]:
tab[['idades', 'premios']]
tab.loc[:, ['idades', 'premios']]
tab.iloc[:, [1,5]]

       idades  premios
0         111   3218.6
1          67  9305.14
2          83   338.89
3          35  2919.67
4          43  1027.89
...       ...      ...
999995     76  3828.75
999996     78   486.95
999997    121  3641.83
999998     64   8952.5
999999     34  9989.44

[1000000 rows x 2 columns]

* Exportando os dados para o csv

In [ ]:
tab.to_csv(path_or_buf= 'dados.csv', index= False)

* Carregue esses dados de um csv

In [ ]:
infos = pd.read_csv(filepath_or_buffer= 'dados.csv')
infos

            ids  idades sexo estados_civis  sinistros  premios
0             1     111    M         viuvo          0  3218.60
1             2      67    F    divorciado          0  9305.14
2             3      83    M    divorciado          1   338.89
3             4      35    M    divorciado          1  2919.67
4             5      43    M    divorciado          0  1027.89
...         ...     ...  ...           ...        ...      ...
999995   999996      76    F    divorciado          0  3828.75
999996   999997      78    F      solteiro          1   486.95
999997   999998     121    M        casado          1  3641.83
999998   999999      64    M         viuvo          0  8952.50
999999  1000000      34    F    divorciado          1  9989.44

[1000000 rows x 6 columns]

* Categorizando idades

In [ ]:
for index, row in tab.iterrows():
    if(row['idades'] < 31):
        tab.loc[index, 'faixa_idade'] = 'Jovem'
    elif(row['idades'] < 46):
        tab.loc[index, 'faixa_idade'] = 'Adulto'
    else:
        tab.loc[index, 'faixa_idade'] = 'Senior'

tab

def faixas(idade):
    for i in idade:
        if i < 31:
            return 'Jovem'
        elif i < 46:
            return 'Adulto'
        else:
            return 'Senior'

tab['faixa_idade2'] = tab[['idades']].apply(faixas, axis= 1)
tab

def faixas(tabelas):
    if tabelas['idades'] < 31:
        return 'Jovem'
    elif tabelas['idades'] < 46:
        return 'Adulto'
    else:
        return 'Senior'

tab['faixa_idade3'] = tab.apply(faixas, axis= 1)
tab

,ids,idades,sexo,estados_civis,sinistros,premios,faixa_idade,faixa_idade2,faixa_idade3
0,1,111,M,viuvo,0,3218.6,Senior,Senior,Senior
1,2,67,F,divorciado,0,9305.14,Senior,Senior,Senior
2,3,83,M,divorciado,1,338.89,Senior,Senior,Senior
3,4,35,M,divorciado,1,2919.67,Adulto,Adulto,Adulto
4,5,43,M,divorciado,0,1027.89,Adulto,Adulto,Adulto
...,...,...,...,...,...,...,...,...,...
999995,999996,76,F,divorciado,0,3828.75,Senior,Senior,Senior
999996,999997,78,F,solteiro,1,486.95,Senior,Senior,Senior
999997,999998,121,M,casado,1,3641.83,Senior,Senior,Senior
999998,999999,64,M,viuvo,0,8952.5,Senior,Senior,Senior
999999,1000000,34,F,divorciado,1,9989.44,Adulto,Adulto,Adulto

* Aplicando descontos

In [ ]:
import time
start_np = time.time()
lista = [((tab['faixa_idade'] == 'Jovem') & (tab['sinistros'] == 0)), 
        (((tab['faixa_idade'] == 'Adulto') | (tab['faixa_idade'] == 'Senior')) & (tab['sinistros'] == 0))]
lista
desconto = [0.05, 0.1]
desconto
tab['desconto'] = np.select(condlist= lista, choicelist= desconto, default= 0) * tab['premios']
tab['premio_desc'] = tab['premios'] - tab['desconto']
end_np = time.time()
print(f'np.select : {(end_np - start_np)}')

start_trad = time.time()
tab.loc[(tab['faixa_idade'] == 'Jovem') & (tab['sinistros'] == 0), 'premio_desc2'] = 0.95 * tab['premios']
tab.loc[(tab['faixa_idade'] == 'Adulto') & (tab['sinistros'] == 0), 'premio_desc2'] = 0.9 * tab['premios']
tab.loc[(tab['faixa_idade'] == 'Senior') & (tab['sinistros'] == 0), 'premio_desc2'] = 0.9 * tab['premios']
tab.loc[(tab['premio_desc2'].isnull()), 'premio_desc2'] = tab['premios']
# tab['premio_desc2'].fillna(tab['premios'], inplace = True)
end_trad = time.time()
print(f'met_trad : {(end_trad - start_trad)}')

start_cut = time.time()
tab['desconto1'] = pd.cut(tab['idades'], [18, 30, 126], labels= [0.05, 0.1])
tab['desconto1'] = tab['desconto1'].astype(float)
tab['premio_desc3'] = (1 - tab['desconto1'] * (1 - tab['sinistros'])) * tab['premios']
# tab['premio_desc3'] = (1 - tab['desconto1'][tab['sinistros'] == 0]) * tab['premios']
# tab['premio_desc3'].fillna(tab['premios'], inplace = True)
end_cut = time.time()
print(f'met_cut : {end_cut - start_cut}')

start_dic = time.time()
tab['faixa_idade4'] = pd.cut(tab['idades'], [18, 30, 45, 126], labels= ["Jovem", "Adulto", "Senior"],include_lowest = True)
dic_fator = {
    'Jovem': 0.95,
    'Adulto': 0.9,
    'Senior': 0.9
}

     
tab['premio_desc4'] = tab['faixa_idade4'].map(dic_fator) * tab['premios'] * (tab['sinistros'] == 0)
end_dic = time.time()
print(f'met_dic : {end_dic - start_dic}')

start_apply = time.time()
def calcular_desconto(row):
    if row['sinistros'] == 0:
        if row['faixa_idade'] in ['Adulto', 'Sênior']:
            return row['premios'] * 0.9
        elif row['faixa_idade'] == 'Jovem':
            return row['premios'] * 0.95
        else:
          return row['faixa_idade']
          
    return row['premios']

tab['desconto2'] = tab.apply(calcular_desconto, axis=1)
end_apply = time.time()
print(f'met_apply : {end_apply - start_apply}')

np.select : 1.6574747562408447
met_trad : 1.3804888725280762
met_cut : 3.644333839416504
met_dic : 1.0104670524597168
met_apply : 22.51912021636963