* Importando Numpy e Pandas

In [1]:
import numpy as np
import pandas as pd

* Preparando os dados

In [2]:
ids = np.arange(1, 126, 1, dtype=int)
idades = np.random.randint(low= 18, high= 126, size= 125, dtype= int)
lista_sexo = np.array(['M', 'F'])
sexo = np.random.choice(lista_sexo, size= 125)
lista_estados_civis = np.array(['solteiro', 'casado', 'divorciado', 'viuvo'])
estados_civis = np.random.choice(lista_estados_civis, size= 125)
sinistros = np.random.randint(low= 0, high= 2, size= 125, dtype= int)
premios = np.around(np.random.random(size=125) * 10000, 2)

# dicionario = {
#     'ids': ids,
#     'idades': idades,
#     'sexo': sexo,
#     'estados_civis': estados_civis,
#     'sinistros': sinistros,
#     'premios': premios
# }

tab = pd.DataFrame([ids, idades, sexo, estados_civis, sinistros, premios]).T
tab.columns = ['ids', 'idades', 'sexo', 'estados_civis', 'sinistros', 'premios']
tab 
dicionario = tab.to_dict('list')
dicionario

# dados = [
#     {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
#     {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
#     {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
# ]

# dataset = pd.DataFrame(dados)
# dado = dataset.to_dict('list')
# dado

{'ids': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125],
 'idades': [65,
  81,
  37,
  84,
  39,
  50,
  22,
  21,
  81,
  100,
  72,
  78,
  36,
  113,
  109,
  48,
  88,
  38,
  58,
  84,
  50,
  118,
  89,
  47,
  23,
  58,
  74,
  54,
  66,
  82,
  99,
  95,
  89,
  61,
  107,
  117,
  51,
  52,
  124,
  76,
  30,
  21,
  43,
  104,
  99,
  65,
  100,
  59,
  72,
  26,
  87,
  69,
  116,
  109,
  45,
  106,
  35,
  112,
  35,
  84,
  125,
  33,
  93,
  69,
  87,
  29,
  101,
  106,
  91,
  21,
  48,
  28,
  85,
  94,
  39,
  118,
  75,
  49,
  27,
  22,
  115,
  92,
  98,
  124,
  84,
  24,
  97,
  109,
  20,
  63,
  22,
  96,
  84,
  124,
  62,
  102,
  67,
  77,
  93,
  94,
  67,
  68,
  76,
  111,
  67,
  113,
  53,
  25,
  92,
  36,
  71,
  23,
  119,
  78,
  65,
  58,
  82,
  41,
  46,
  121,
  115,
  22,
  41,
  100,
  60],
 'sexo': ['F',
  'F',
  'F',
  'F',
  'M',
  'M',
  'F',
  'F',
  'F',
  'M',
  'M',
  'F',
  'M',
  'F',
  'F',
  'F',
  'M',
  'M',
  'F',
  'F',
  'M',
  'M',
  'F',
  'F',
  'F',
  'M',
  'M',
  'F',
  'M',
  'F',
  'F',
  'F',
  'M',
  'F',
  'F',
  'F',
  'M',
  'F',
  'M',
  'M',
  'M',
  'M',
  'M',
  'F',
  'M',
  'M',
  'M',
  'F',
  'F',
  'M',
  'F',
  'F',
  'M',
  'M',
  'M',
  'M',
  'F',
  'F',
  'F',
  'F',
  'F',
  'M',
  'F',
  'M',
  'M',
  'M',
  'F',
  'F',
  'M',
  'M',
  'M',
  'F',
  'F',
  'M',
  'F',
  'M',
  'F',
  'M',
  'M',
  'M',
  'F',
  'M',
  'M',
  'F',
  'F',
  'M',
  'F',
  'F',
  'M',
  'M',
  'F',
  'F',
  'F',
  'F',
  'M',
  'M',
  'M',
  'M',
  'F',
  'F',
  'F',
  'F',
  'M',
  'F',
  'M',
  'F',
  'F',
  'F',
  'M',
  'M',
  'M',
  'M',
  'M',
  'F',
  'F',
  'M',
  'F',
  'F',
  'F',
  'F',
  'M',
  'M',
  'M',
  'F',
  'M'],
 'estados_civis': ['viuvo',
  'viuvo',
  'casado',
  'viuvo',
  'divorciado',
  'casado',
  'solteiro',
  'viuvo',
  'solteiro',
  'divorciado',
  'casado',
  'divorciado',
  'casado',
  'casado',
  'solteiro',
  'viuvo',
  'divorciado',
  'solteiro',
  'solteiro',
  'casado',
  'casado',
  'solteiro',
  'divorciado',
  'divorciado',
  'divorciado',
  'viuvo',
  'divorciado',
  'solteiro',
  'divorciado',
  'viuvo',
  'divorciado',
  'viuvo',
  'viuvo',
  'viuvo',
  'divorciado',
  'casado',
  'solteiro',
  'divorciado',
  'divorciado',
  'casado',
  'solteiro',
  'casado',
  'viuvo',
  'solteiro',
  'casado',
  'divorciado',
  'viuvo',
  'casado',
  'solteiro',
  'divorciado',
  'solteiro',
  'viuvo',
  'divorciado',
  'solteiro',
  'viuvo',
  'divorciado',
  'casado',
  'casado',
  'solteiro',
  'viuvo',
  'divorciado',
  'viuvo',
  'casado',
  'viuvo',
  'casado',
  'viuvo',
  'viuvo',
  'casado',
  'divorciado',
  'divorciado',
  'viuvo',
  'solteiro',
  'divorciado',
  'divorciado',
  'divorciado',
  'divorciado',
  'divorciado',
  'viuvo',
  'solteiro',
  'viuvo',
  'divorciado',
  'solteiro',
  'viuvo',
  'viuvo',
  'viuvo',
  'solteiro',
  'solteiro',
  'viuvo',
  'viuvo',
  'casado',
  'solteiro',
  'viuvo',
  'divorciado',
  'solteiro',
  'divorciado',
  'viuvo',
  'viuvo',
  'viuvo',
  'divorciado',
  'casado',
  'solteiro',
  'solteiro',
  'casado',
  'viuvo',
  'solteiro',
  'solteiro',
  'casado',
  'divorciado',
  'solteiro',
  'divorciado',
  'solteiro',
  'divorciado',
  'casado',
  'divorciado',
  'casado',
  'solteiro',
  'casado',
  'solteiro',
  'casado',
  'viuvo',
  'solteiro',
  'solteiro',
  'viuvo',
  'divorciado',
  'casado'],
 'sinistros': [1,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  0,
  1,
  1,
  1,
  0,
  0,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  0,
  1,
  1,
  1,
  0,
  0,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  1,
  1,
  0,
  1,
  0,
  1,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  1],
 'premios': [2349.47,
  3209.24,
  5540.35,
  3457.45,
  2127.7,
  4171.52,
  9260.39,
  8918.9,
  8250.68,
  6718.74,
  60.91,
  1611.97,
  6533.77,
  3745.77,
  3977.63,
  7535.72,
  8065.04,
  2091.04,
  5440.91,
  1687.71,
  1047.76,
  7745.87,
  3659.54,
  3124.75,
  9626.4,
  9954.59,
  9365.15,
  6596.29,
  8431.8,
  3290.43,
  7970.96,
  6874.29,
  748.75,
  9223.07,
  7248.17,
  1759.79,
  6332.77,
  2356.76,
  8409.21,
  2968.44,
  2208.0,
  4925.73,
  6105.3,
  1565.59,
  9430.43,
  8323.18,
  3140.7,
  1778.25,
  8361.92,
  5018.86,
  3886.83,
  3684.98,
  3271.01,
  686.79,
  2164.3,
  7737.36,
  5236.31,
  8348.21,
  8853.87,
  5482.06,
  26.95,
  7708.81,
  3660.15,
  7835.36,
  314.98,
  4917.63,
  7862.11,
  992.34,
  9694.94,
  6034.55,
  2702.74,
  8069.93,
  2173.6,
  8318.36,
  9886.23,
  5724.5,
  8998.84,
  2133.59,
  6024.97,
  1246.76,
  9980.64,
  770.09,
  8256.1,
  8532.78,
  5415.53,
  6127.68,
  9833.65,
  7867.94,
  7778.39,
  9983.24,
  3326.29,
  243.61,
  728.64,
  4974.01,
  9359.08,
  3387.09,
  2401.11,
  7208.74,
  6880.82,
  5062.62,
  4743.46,
  2597.88,
  7271.0,
  2826.19,
  9612.35,
  5360.98,
  6631.5,
  9408.39,
  1490.13,
  9865.47,
  1563.22,
  9549.95,
  408.98,
  3994.57,
  7389.96,
  3676.18,
  2305.55,
  8820.36,
  7502.33,
  9486.86,
  8819.14,
  493.23,
  372.94,
  532.59,
  41.7]}

* Visualização do DataFrame

In [3]:
tab.head()

  ids idades sexo estados_civis sinistros  premios
0   1     65    F         viuvo         1  2349.47
1   2     81    F         viuvo         0  3209.24
2   3     37    F        casado         0  5540.35
3   4     84    F         viuvo         0  3457.45
4   5     39    M    divorciado         0   2127.7

* Filtrando clientes com idades maiores do que 30

In [4]:
# tab[tab.idades > 30]
# tab[tab['idades'] > 30]
tab.query('idades > 30')

     ids idades sexo estados_civis sinistros  premios
0      1     65    F         viuvo         1  2349.47
1      2     81    F         viuvo         0  3209.24
2      3     37    F        casado         0  5540.35
3      4     84    F         viuvo         0  3457.45
4      5     39    M    divorciado         0   2127.7
..   ...    ...  ...           ...       ...      ...
119  120    121    F         viuvo         0  9486.86
120  121    115    M      solteiro         0  8819.14
122  123     41    M         viuvo         0   372.94
123  124    100    F    divorciado         0   532.59
124  125     60    M        casado         1     41.7

[108 rows x 6 columns]

* Filtrando clientes sem sinistros

In [5]:
tab.query('sinistros == 0')

     ids idades sexo estados_civis sinistros  premios
1      2     81    F         viuvo         0  3209.24
2      3     37    F        casado         0  5540.35
3      4     84    F         viuvo         0  3457.45
4      5     39    M    divorciado         0   2127.7
6      7     22    F      solteiro         0  9260.39
7      8     21    F         viuvo         0   8918.9
8      9     81    F      solteiro         0  8250.68
12    13     36    M        casado         0  6533.77
13    14    113    F        casado         0  3745.77
14    15    109    F      solteiro         0  3977.63
17    18     38    M      solteiro         0  2091.04
18    19     58    F      solteiro         0  5440.91
22    23     89    F    divorciado         0  3659.54
23    24     47    F    divorciado         0  3124.75
29    30     82    F         viuvo         0  3290.43
30    31     99    F    divorciado         0  7970.96
32    33     89    M         viuvo         0   748.75
33    34     61    F         viuvo         0  9223.07
34    35    107    F    divorciado         0  7248.17
39    40     76    M        casado         0  2968.44
40    41     30    M      solteiro         0   2208.0
41    42     21    M        casado         0  4925.73
43    44    104    F      solteiro         0  1565.59
44    45     99    M        casado         0  9430.43
45    46     65    M    divorciado         0  8323.18
48    49     72    F      solteiro         0  8361.92
51    52     69    F         viuvo         0  3684.98
52    53    116    M    divorciado         0  3271.01
54    55     45    M         viuvo         0   2164.3
55    56    106    M    divorciado         0  7737.36
57    58    112    F        casado         0  8348.21
58    59     35    F      solteiro         0  8853.87
59    60     84    F         viuvo         0  5482.06
62    63     93    F        casado         0  3660.15
64    65     87    M        casado         0   314.98
68    69     91    M    divorciado         0  9694.94
69    70     21    M    divorciado         0  6034.55
74    75     39    F    divorciado         0  9886.23
75    76    118    M    divorciado         0   5724.5
76    77     75    F    divorciado         0  8998.84
77    78     49    M         viuvo         0  2133.59
80    81    115    F    divorciado         0  9980.64
87    88    109    F         viuvo         0  7867.94
88    89     20    M         viuvo         0  7778.39
90    91     22    F      solteiro         0  3326.29
91    92     96    F         viuvo         0   243.61
92    93     84    F    divorciado         0   728.64
93    94    124    F      solteiro         0  4974.01
100  101     67    F      solteiro         0  4743.46
101  102     68    F      solteiro         0  2597.88
102  103     76    M        casado         0   7271.0
103  104    111    F         viuvo         0  2826.19
107  108     25    F    divorciado         0  9408.39
113  114     78    F    divorciado         0  3994.57
115  116     58    M      solteiro         0  3676.18
117  118     41    F      solteiro         0  8820.36
119  120    121    F         viuvo         0  9486.86
120  121    115    M      solteiro         0  8819.14
122  123     41    M         viuvo         0   372.94
123  124    100    F    divorciado         0   532.59

* Exibir Idade e Prêmio

In [6]:
tab[['idades', 'premios']]
tab.loc[:, ['idades', 'premios']]
tab.iloc[:, [1,5]]

    idades  premios
0       65  2349.47
1       81  3209.24
2       37  5540.35
3       84  3457.45
4       39   2127.7
..     ...      ...
120    115  8819.14
121     22   493.23
122     41   372.94
123    100   532.59
124     60     41.7

[125 rows x 2 columns]

* Exportando os dados para o csv

In [7]:
tab.to_csv(path_or_buf= 'dados.csv', index= False)

* Carregue esses dados de um csv

In [8]:
infos = pd.read_csv(filepath_or_buffer= 'dados.csv')
infos

     ids  idades sexo estados_civis  sinistros  premios
0      1      65    F         viuvo          1  2349.47
1      2      81    F         viuvo          0  3209.24
2      3      37    F        casado          0  5540.35
3      4      84    F         viuvo          0  3457.45
4      5      39    M    divorciado          0  2127.70
..   ...     ...  ...           ...        ...      ...
120  121     115    M      solteiro          0  8819.14
121  122      22    M      solteiro          1   493.23
122  123      41    M         viuvo          0   372.94
123  124     100    F    divorciado          0   532.59
124  125      60    M        casado          1    41.70

[125 rows x 6 columns]

* Categorizando idades

In [9]:
for index, row in tab.iterrows():
    if(row['idades'] < 31):
        tab.loc[index, 'faixa_idade'] = 'Jovem'
    elif(row['idades'] < 46):
        tab.loc[index, 'faixa_idade'] = 'Adulto'
    else:
        tab.loc[index, 'faixa_idade'] = 'Senior'

tab

def faixas(idade):
    for i in idade:
        if i < 31:
            return 'Jovem'
        elif i < 46:
            return 'Adulto'
        else:
            return 'Senior'

tab['faixa_idade2'] = tab[['idades']].apply(faixas, axis= 1)
tab

def faixas(tabelas):
    if tabelas['idades'] < 31:
        return 'Jovem'
    elif tabelas['idades'] < 46:
        return 'Adulto'
    else:
        return 'Senior'

tab['faixa_idade3'] = tab.apply(faixas, axis= 1)
tab

,ids,idades,sexo,estados_civis,sinistros,premios,faixa_idade,faixa_idade2,faixa_idade3
0,1,65,F,viuvo,1,2349.47,Senior,Senior,Senior
1,2,81,F,viuvo,0,3209.24,Senior,Senior,Senior
2,3,37,F,casado,0,5540.35,Adulto,Adulto,Adulto
3,4,84,F,viuvo,0,3457.45,Senior,Senior,Senior
4,5,39,M,divorciado,0,2127.7,Adulto,Adulto,Adulto
...,...,...,...,...,...,...,...,...,...
120,121,115,M,solteiro,0,8819.14,Senior,Senior,Senior
121,122,22,M,solteiro,1,493.23,Jovem,Jovem,Jovem
122,123,41,M,viuvo,0,372.94,Adulto,Adulto,Adulto
123,124,100,F,divorciado,0,532.59,Senior,Senior,Senior
124,125,60,M,casado,1,41.7,Senior,Senior,Senior

* Aplicando descontos

In [10]:


lista = [((tab['faixa_idade'] == 'Jovem') & (tab['sinistros'] == 0)), 
         (((tab['faixa_idade'] == 'Adulto') | (tab['faixa_idade'] == 'Senior')) & (tab['sinistros'] == 0))]
lista
desconto = [0.05, 0.1]
desconto
tab['desconto'] = np.select(condlist= lista, choicelist= desconto, default= 0) * tab['premios']
tab['premio_desc'] = tab['premios'] - tab['desconto']
tab

tab.loc[(tab['faixa_idade'] == 'Jovem') & (tab['sinistros'] == 0), 'premio_desc2'] = 0.95 * tab['premios']
tab.loc[(tab['faixa_idade'] == 'Adulto') & (tab['sinistros'] == 0), 'premio_desc2'] = 0.9 * tab['premios']
tab.loc[(tab['faixa_idade'] == 'Senior') & (tab['sinistros'] == 0), 'premio_desc2'] = 0.9 * tab['premios']
tab.loc[(tab['premio_desc2'].isnull()), 'premio_desc2'] = tab['premios']
# tab['premio_desc2'].fillna(tab['premios'], inplace = True)
tab

tab['desconto1'] = pd.cut(tab['idades'], [18, 30, 45, 126], labels= [0.05, 0.1, 0.1], ordered= False)
tab['desconto1'] = tab['desconto1'].astype(float)
tab['premio_desc3'] = (1 - tab['desconto1'] * (1 - tab['sinistros'])) * tab['premios']
# tab['premio_desc3'] = (1 - tab['desconto1'][tab['sinistros'] == 0]) * tab['premios']
# tab['premio_desc3'].fillna(tab['premios'], inplace = True)
tab

dic_fator = {
    'Jovem': 0.95,
    'Adulto': 0.9,
    'Senior': 0.9
}

tab['premio_desc4'] = tab['faixa_idade'].map(dic_fator) * tab['premios'] * (tab['sinistros'] == 0)
tab

,ids,idades,sexo,estados_civis,sinistros,premios,faixa_idade,faixa_idade2,faixa_idade3,desconto,premio_desc
0,1,65,F,viuvo,1,2349.47,Senior,Senior,Senior,0.0,2349.47
1,2,81,F,viuvo,0,3209.24,Senior,Senior,Senior,320.924,2888.316
2,3,37,F,casado,0,5540.35,Adulto,Adulto,Adulto,554.035,4986.315
3,4,84,F,viuvo,0,3457.45,Senior,Senior,Senior,345.745,3111.705
4,5,39,M,divorciado,0,2127.7,Adulto,Adulto,Adulto,212.77,1914.93
...,...,...,...,...,...,...,...,...,...,...,...
120,121,115,M,solteiro,0,8819.14,Senior,Senior,Senior,881.914,7937.226
121,122,22,M,solteiro,1,493.23,Jovem,Jovem,Jovem,0.0,493.23
122,123,41,M,viuvo,0,372.94,Adulto,Adulto,Adulto,37.294,335.646
123,124,100,F,divorciado,0,532.59,Senior,Senior,Senior,53.259,479.331
124,125,60,M,casado,1,41.7,Senior,Senior,Senior,0.0,41.7